@media(min-width: 768px){
    main{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
  }
  }
  @media(min-width: 1200px){
    main{
    display: grid;
    grid-template-columns: repeat(2,20% 70%);
  }
    nav{
      position: fixed;
    }
    nav a{
      text-decoration: none;
      text-transform: uppercase;
    }
    nav li{
      padding: 1em;
    }
    main .body{
      position: absolute;
      left: 20%;
    }
  }
  